<div class="mdt-container">
<mat-card>
    <mat-tab-group style="height: 90%;">
        <mat-tab label="Person">
            <div class="query-input">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" #firstName [(ngModel)]="fnValue">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" #lastName [(ngModel)]="lnValue">
                </mat-form-field>
                <button mat-raised-button color="primary" class="query-btn"
                (click)="queryRecords(0, {'firstName': firstName.value, 'lastName': lastName.value})">Query</button>
                <button mat-raised-button class="clear-btn" (click)="personResult=null; fnValue=''; lnValue='';">Clear</button>
            </div>
            
            <!-- Replacement to show results of record query (ALPHA PHASE ONLY)-->
            <pre class="result-block" *ngIf="personResult != null">{{ personResult[0] | json }}</pre>

        </mat-tab>
        
        <mat-tab label="Vehicle">
            <div class="query-input">
                <mat-form-field style="width: 50%;">
                    <mat-label>License Plate</mat-label>
                    <input matInput type="text" #plate [(ngModel)]="plateValue">
                </mat-form-field>
                <button mat-raised-button color="primary" class="query-btn"
                (click)="queryRecords(1, {'plate': plate.value})">Query</button>
                <button mat-raised-button class="clear-btn" (click)="vehicleResult=null; plateValue='';">Clear</button>

            </div>

            <!-- Replacement to show results of record query (ALPHA PHASE ONLY)-->
            <pre class="result-block" *ngIf="vehicleResult != null">{{ vehicleResult | json }}</pre>
        </mat-tab>

        <!-- TODO -->
        <mat-tab label="Warrant">Warrant Query</mat-tab>
    </mat-tab-group>
</mat-card>
</div>
