.mdt-container {
    width: 730px;
    display: table-cell;
}
.query-input {
    margin: 10px;
}
.query-input mat-form-field { padding: 5px; }
.query-btn { margin-left: 50px; width: 100px; }
.clear-btn { margin-left: 20px; }
.return {
    margin: 10px;
}
.result-table {
    margin: 10px;
    width: 400px;
    height: 400px;
    border: 1px solid red;
    overflow-y: auto;
}
.mdt-result-subtable {
    margin-left: 10px;
    width: 100%;

}
.person-licenses {
    border: 1px solid green;
}