<div class="user-table-wrapper mat-elevation-z8" *ngIf="users != null">
    <table mat-table [dataSource]="users" class="user-table">

        <!-- Username Column-->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let user"> {{user.username}} </td>
        </ng-container>

        <!-- Discord ID Column-->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Discord ID </th>
            <td mat-cell *matCellDef="let user"> {{user.discord_id}} </td>
        </ng-container>

        <!-- Admin Column -->
        <ng-container matColumnDef="admin">
            <th mat-header-cell *matHeaderCellDef> Admin </th>
            <td mat-cell *matCellDef="let user"> 
                <mat-checkbox [checked]="user.admin == 1"></mat-checkbox>
            </td>
        </ng-container>        
        
        <!-- Suspended Column -->
        <ng-container matColumnDef="suspended">
            <th mat-header-cell *matHeaderCellDef> Suspended </th>
            <td mat-cell *matCellDef="let user">
                <mat-checkbox [checked]="user.suspended == 1"></mat-checkbox>
            </td>
        </ng-container>

        <!-- Details Column -->
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let user">
                <button mat-raised-button color="primary">Details</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="userTableCols"></tr>
        <tr mat-row *matRowDef="let row; columns: userTableCols;"></tr>

    </table>
</div>