.dispatch-wrapper {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 70%;
    width: 90%;

}
.unit-table, .call-table { width: 550px; }
.dispatch-tables { width: 510px; }
