<div class="create-job-container">
<mat-card>
    <mat-tab-group>
        <!-- Create Call-->
        <mat-tab label="Call">
            <mat-form-field appearance="standard">
                <mat-label>Call Type</mat-label>
                <mat-select #callType required>
                    <mat-option [value]=1>Police</mat-option>
                    <mat-option [value]=1>Fire</mat-option>
                    <mat-option [value]=2>Medical</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="standard">
                <mat-label>Call Sub-Type</mat-label>
                <mat-select #callSubType required>
                    <mat-option *ngFor="let i of callTypes"
                    [value]="i.code">{{i.type}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="standard">
                <mat-label>Description</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <br>
            <button mat-raised-button type="submit" color="primary">Create Call</button>
        </mat-tab>

        <!-- Create BOLO -->
        <mat-tab label="BOLO">

        </mat-tab>
    </mat-tab-group>
</mat-card>
</div>